*{
	margin: 0;
	padding: 0;
	font-family: helvetica;
}
.container, .main, .body{
	width: 100%;
}

.head a{
	text-decoration: none;
}

.head #logo{
	float: left;
	margin-left: 5px;
}

.head #logo #name, #motto{
	color: black;
}

.head #logo #name{
	font-size: 25px;
	font-weight: bold;
}

.head #logo #motto{
	font-size: 12px;
	font-weight: lighter;
}


.head .menu{
	border: 1px solid lightgreen;
	width: 40px;
	height: 30px;
	display: block;
	cursor: pointer;
	margin-right: 10px;
	float: right;
}

.head .menu .dash{
	width: 30px;
	height: 3px;
	margin: 5px auto;
	background-color: lightgreen;
}

.head .content{
    overflow: hidden;
    position: relative;
    left: 55px;
    top: 30px;
    display: none;
}

.head .content a{
    color: black;
    padding: 12px 20px;
    position: relative;
    display: block;
    text-align: right;
    font-size: 15px;
    color: black;
    transition: all .5s ease;
}

.head .content a:hover{
	color: lightgreen;
	transition: all .5s ease;
}

.head .content a #join{
	width: 130px;
	height: 20px;
	background-color: lightgreen;
	padding-right: 20px;
	padding-top:5px;
	margin-bottom: 40px;
	border-radius: 5px;
	color: #fff;
	float: right;
}

.main{
	clear: both;
}

.main h3{
   text-align: center;
   font-weight: bolder;
   font-size: 35px;
   color: green;
   padding-top: 30px;
}

.main p{
	font-size: 18px;
	font-weight: normal;
	padding: 30px 30px;
}

.main h4{
   text-align: center;
   font-weight: bolder;
   font-size: 25px;
   color: green;
   padding: 30px 0;
}

.main .list .img{
   width: 300px;
   height: 200px;
   margin: 10px auto;
   background-color: lightgrey;
}

.main .list p{
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	padding: 10px 0 15px 0;
}

.body{
	background-color: #EFEFEF;
}

.body h4{
   text-align: center;
   font-weight: bolder;
   font-size: 25px;
   color: green;
   padding: 30px 0;
}

.body p{
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	padding: 10px 30px 20px 30px;
}

.body .dfy7{
	width: 120px;
	height: 25px;
	border-radius: 5px;
	background-color: lightgreen;
	color: #fff;
	font-size: 15px;
	padding-top: 7px;
	margin: 10px auto;
	text-align: center;
}

.body a{
	text-decoration: none;
}

.body .img{
    width: 300px;
   height: 200px;
   margin: 10px auto;
   background-color: lightgrey;
}

.body ul{
	padding-bottom: 20px;
}

.body ul li{
	list-style-type: none;
	margin: 15px 0px 15px 30px;
	color: lightgreen;
}

.mentors h4{
   text-align: center;
   font-weight: bolder;
   font-size: 25px;
   color: green;
   padding: 30px 0;
}

.mentors p{
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	padding: 10px 30px 20px 30px;
}

.mentors .persona{
	width: 250px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	margin: 50px auto;
	transition: background-color 1s, box-shadow 1s;
}

.mentors .persona:hover{
   background-color: rgba(0,0,0,0.01);
   box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.mentors .persona:hover .persona_image{
	transform: rotate(5deg);
}

.mentors .persona .persona_image{
	height: 220px;
	padding-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
	transition: height 1s, margin 1s, transform 1s;
}

.mentors .persona .persona_image img{
	height: 220px;
	width: 220px;
	border-radius: 100%;
}

.mentors .persona .persona_name{
	font-family: helvetica;
	font-size: 15px;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 10px;
}

.mentors .persona .persona_field{
	font-family: helvetica;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
	padding-bottom: 10px;
}

.mentors .get{
	width: 120px;
	height: 25px;
	border-radius: 5px;
	background-color: lightgreen;
	color: #fff;
	font-family: helvetica;
	font-size: 15px;
	padding-top: 7px;
	margin: 50px auto;
	text-align: center;
}

.mentors a{
	text-decoration: none;
}

.mentors ul li{
	list-style-type: none;
	margin: 15px 0px 15px 30px;
	color: lightgreen;
}

.mentors ul{
	padding-bottom: 20px;
}

.footer{
    background-color: #EFEFEF;
}

.footer #logo{
	padding-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.footer #logo #name, #motto{
	font-family: helvetica;
	color: black;
}

.footer #logo #name{
	font-size: 25px;
	font-weight: bold;
}

.footer #logo #motto{
	font-size: 12px;
	font-weight: lighter;
}

.footer h4{
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: helvetica;
	font-size: 20px;
	padding-left: 20px;
	font-weight: normal;
	color: lightgreen;
}

.footer ul li{
	font-size: 15px;
	padding: 10px 20px;
	font-family: helvetica;
	color: black;
	list-style-type: none;
}

.footer a{
	text-decoration: none;
}

.footer p{
	font-size: 15px;
	padding-left: 20px;
	font-family: helvetica;
	line-height: 20px;
}

.footer #twitter, #fb{
	width: 20px;
	height: 20px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer #twitter{
	float: left;
	margin-left: 20px;
	background-image: url(images/twitter.png);
}

.footer #fb{
	float: left;
	margin-left: 5px;
	background-image: url(images/facebook.png);
}

.footer .btm{
	clear: both;
}

.footer form input{
	clear: both;
	width: 200px;
	height: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

.footer #news{
	width: 200px;
	height: 30px;
	background-color: lightgreen;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 15px;
	font-family: helvetica;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.footer #news #msg{
	width: 20px;
	height: 20px;
	float: left;
	margin: 4px 5px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(images/msg.png);
}

.footer #paul{
	font-size: 15px;
	text-align: center;
	font-family: helvetica;
	margin-top: 30px;
	padding-bottom: 10px
}




