@media screen and (min-width: 320px)
{
  .container{
  	max-width: 400px;
  	width: 100%
  }

 .head .content a #join{
	width: 800px;
	font-size: 10px;
	padding-right: 5px;
}

.fom{
  width: 300px;
}


}

@media screen and (min-width: 400px)
{
   .container{
   	max-width: 600px;
    width: 100%
   }

   .head .content a #join{
	width: 130px;
	font-size: 15px;
	padding-right: 20px;
}

  .fom{
    width: 400px;
  }



@media screen and (min-width: 600px)
{
  .container{
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
}


@media screen and (min-width: 900px)
{
  .container{
    max-width: 1500px;
    margin: auto;
  }

  .head .menu{
    display: none;
  }

  .head .content{
    display: block;
    top: 0;
    left: 100px;
  }


  .head .content a{
    display: inline-block;
  }

  .head .content a #join{
      float: none;
}

 .fom{
    width: 500px;
  }

  select{
    width: 350px;
  }

  .for{
    width: 150px;
  }

  .footer #twitter, #fb{
  width: 40px;
  height: 40px;
}

 .footer span{
    float: left;
    margin-left: 50px;
    margin-right: 50px;
  }

  .btm{
    clear: both;
  }

}


}